_shared = "/home/robert/stock-notes-data"
_project = "/home/robert/stock-notes"
LOG_DIR = "%s/log" % _shared
CASH_DIR = "%s/cash" % _shared
NOTIFY_QUOTES_FILE = "%s/download/quotes_notify.csv" % _shared
BUY_SELL_QUOTES_FILE = "%s/download/quotes_buysell.csv" % _shared
TEMP_FILE = "%s/download/temp" % _shared
NO_CIK_URL = "file://%s/src/res/nocik.html" % _project
ALPHA_VANTAGE_ACCESS_KEY="*******"
FINNHUB_ACCESS_KEY="*******"
